

header .header-box 
{
display: flex;	
justify-content: space-around;
padding: 4px,15px,2px;
}

.header-box .subscribe button {
background-color: #567B95;
padding: 11px,12px,8px;
}

.nav-left {
	display: flex;
	justify-content: space-around;
}
.header-box .fa-bars {
	margin: 0px,8px,0px,0px;
	padding-top: 8px,9px,9px;

}
.header-box .nav-right {
	display: flex;

}

.A {
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	font-style: italic;
}