* {
    margin: 0;
    padding: 0;
}

html{
	font-size: 13px;
	box-sizing: border-box;
}

*, *:before, *after {
	box-sizing: inherit;
}

body{
	background-color:#ffffff;
	width: 100%;
	height: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
	padding: 4px 15px 2px;
	border: 1px solid lightgray;
	height: 43px;
	position: fixed;
	width: 100%;
}

.nav-left {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding-left: 5px;
}

.nav-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 5px;
}

.nav-right .subscribe {
	cursor: pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    background-color: rgb(86, 123, 149);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
	border-color: rgb(50, 104, 145);
	padding: 11px 12px 8px;
	margin: 0px 7px 0px 0px;
}

.nav-right .login {
	cursor: pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    background-color: rgb(86, 123, 149);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
	border-color: rgb(50, 104, 145);
	padding: 11px 12px 8px;
	margin-right: 20px;
}


.fa-bars:before {
	content: "\f0c9"; 
    display:flex;
	padding: 8px 9px 9px;
	margin: 0px 10px 0px 0px;
}
.nyt img {
	width: 195px;
	height: 25px;
	margin: auto;
}
.fa-search::before 
{

	content: "\f0c9"; 
    display:flex;
	padding: 8px 9px 9px;
	margin: 0px 8px 0px 0px;

}

main {

	padding: 60px 0px 0px ;
}
.A {
	display: flex;
	font-size: 40px;
	font-style: italic;
	font-weight: bolder;
	margin: 0px 339px 16px;
	width: 600px;
	height: 96px;
	align-items: center;
	padding-left: 150px;
}

 .B {
	width: 1200px;
	height: 531px;
	margin: 15em auto;
	margin-top: 1px;
	}

.B img {
	width: 100%;
	height: auto;
}

.C {
	font-size: 14px;
}

.article-box {
  width: 50%;
  border: 5px solid #a52a2a;
  margin: auto;
}

.section-box{
	max-width: 80%;
	padding: 5%;
	border: 4px solid #000;
	margin: 5em auto;
}

.main-box {
	width: 85%;
	border: 4px solid #9acd32;
	margin: auto;
}

	
}
.footer-section1 {
	margin: 0px 10px;
	padding: 0px 30px 9px;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	widows: 1276px;
	height: 476px;
	border-bottom: 1px solid #000;
}
.footer-section1 .footer-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
	margin-top: 17px;
	
}
.footer-nav img {
	width: 190px;
	height: 30px;
}
.footer-section1 .list-items {

	display: flex;
	justify-content: space-between;
}
.news,.opinion,.arts,.living,.more,.subscribe {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.subscribe .subscribe-part1,.subscribe-part2 {
	display: flex;
	flex-direction: column;
}
.subscribe-part2 {
	display: flex;
	flex-direction: column;
}

.list-items a{
	width: 150px;
	height: 23px;
	text-decoration: none;
	font-size: 14px;
	color: black;
}
.list-items h3 {
	width: 150px;
	height: 25px;
}


.title {
	color: #000;
	font-size: 15px;
	font-weight: bold;

}

.author-favicons {
 float: right;
}

.author-favicons ul{
	list-style: none;
	margin-bottom: 15px;
	padding-bottom: 9px;
	justify-content: space-around;
	
}

.author-favicons ul li {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

 .date-one {
	 position: absolute;
	 top: 1045px;
}

.paragraph-style {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 18px;
 margin: 8px;
}

#mid-add-style {
	width: 40%;
	margin: auto;
	padding: 6px;
}

  .brief-line-bottom {
	width: 30%;
	margin: auto;
	margin-top: 25px

  }

 .brief-line-top {
	width: 30%;
	margin: auto;
	margin-bottom: 25px;
}

#add-link {
 text-decoration: none;
 color: #0d80f2;
 font-weight: bold;
 margin: 9px;
 font-size: 16px;
}

#add-p {
font-weight: bold;
margin: 9px;
font-size: 16px;
}

.article-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin: 3px;
}

.box-img {
width: 100%;
margin: auto;
}

.article-link-style{
	color: #0d80f2;
}

.author-favicons-two {
	float: right;
}

.author-favicons-two ul {
	list-style: none;
	margin: 15px;
}

.author-favicons-two ul li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#button {
background-color: #5380ac;
width: 290px;
height: 35px;
color: #fff;
font-weight: bold;
border-color: #5380ac;
border-radius: 3px;
margin: 12px;
}

.grid-stream {
 display: grid;
}

.flex-stream {
display: flex;
flex-wrap: wrap;
}

.diagram-ff {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 13px;
	font-weight: lighter;
	width: 140%;
	text-align: left;
	color: #1a1a1a;
}

.diagram {
display: grid;
 width: 900px;
 grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

#diagram-img {
width: 980px;
position: relative;
right: 90px;
margin: 10px;
}

.text {
 display: grid;
}

.universe {
 position: relative;
 right: 1085px;
 top: 184px;
}

.not-enough {
	position: relative;
	right: 840px;
	top: 80px;	
}

.distance {
	position: relative;
	right: 586px;
	bottom: 25px;	
}

.coffee {
	position: relative;
	right: 333px;
	bottom: 116px;	
}

.still {
	position: relative;
	right: 1087px;
	top: 50px;	
}

.inflation {
	position: relative;
	right: 845px;
	bottom: 55px	
}

.expansion {
	position: relative;
	right: 336px;
	bottom: 280px
}

.fluctuation {
	position: relative;
	right: 593px;
	bottom: 175px	
}
.diagram-title {
 margin: 4px;
}